extends layout

block content
    .container(style='margin-top:5%')
        .row
            .bar6
                input.myinput(placeholder="影片名称")
                button.mybutton 搜索
            .bar9
                div
                    button(style='margin-right:10px').btn 最新电影
                    button.btn 最新电视剧
            .col-md-12
                .window4
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        span.title 来自本站
                    div(style='padding: 18px 10px;')
                        .table-responsive
                            table.table
                                tbody
                                    tr
                                        td http://www.runoob.com
                                        td
                                            button.btn.btn-sm(style='float:right') 复制链接
                                    tr
                                        td http://www.runoob.com
                                        td
                                            button.btn.btn-sm(style='float:right') 复制链接
                                    tr
                                        td http://www.runoob.com
                                        td
                                            button.btn.btn-sm(style='float:right') 复制链接
            .col-md-12
                .window4
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        span.title 网友提供
                    div(style='padding: 18px 10px;')
                        .table-responsive
                            table.table
                                tbody
                                    tr
                                        td http://www.runoob.com
                                        td
                                            button.btn.btn-sm(style='float:right') 复制链接
                                    tr
                                        td http://www.runoob.com
                                        td
                                            button.btn.btn-sm(style='float:right') 复制链接
                                    tr
                                        td http://www.runoob.com
                                        td
                                            button.btn.btn-sm(style='float:right') 复制链接

