extends layout

block content
	<br>
	<br>
	<br>
	.row
		table.table.table-striped.table-hover
			thead
				tr
					th id
					th 电影名称
					th 电影路径
					th 操作
			tbody#share				
	script(type='text/javascript', src='/js/userclick.js')
	script(type='text/javascript', src='/js/back.js') 				

